# Introduction to Groupby

In this notebook, we introduce the `groupby` method. This method allows to easily analyze subgroups of our data.

## Notebook Outline
* <a href='#IntroToGroupby'>Introduction to Groupby</a>
* <a href='#simplegroupstats'>Calculating Statistics on Groups</a>
* <a href='#customfunctions'>Applying Custom Functions To Groups</a>

In [1]:
import pandas as pd
import os

<a name=IntroToGroupby></a>
# Introduction to Groupby

The groupby method allows to group data in a dataframe by one or more columns to create a 'groupby object'. We can then analyze each of the groups to create per-group-statistics and analysis.  For example, the mean temperature per month (this involves grouping by the month) or the total sales per shift manager (this involves grouping by the manager). Let's look at some examples!

<https://pandas.pydata.org/pandas-docs/stable/groupby.html>

In [2]:
filepath = os.path.join(os.getcwd(), 'data', 'ShiftManagerApp_LaborSheet.csv')
labor_sheet_data = pd.read_csv(filepath, parse_dates=[['Date', 'Ending_Hour'], 'Timestamp'])
labor_sheet_data["Sales +/-"] = labor_sheet_data['Sales'] - labor_sheet_data['Projected_Sales']
labor_sheet_data.head()

,Date_Ending_Hour,Store_ID,Manager,Projected_Sales,Sales,DT_TTL,Car_Count,KVS_Total,Scheduled_People,Actual_People,Reason_for_Labor_Diff,Reason_for_High_TTLs,Manager_Entering_Data,Timestamp,OEPE,Park_Percentage,Sales +/-
0,2017-01-23 08:00:00,4462,JillianA,540.0,420.0,170.0,NaN,100.0,NaN,NaN,NaN,NaN,NaN,2017-01-23 09:52:14,NaN,NaN,-120.0
1,2017-02-05 06:00:00,4462,ZoeyD,90.0,155.0,114.0,NaN,78.0,NaN,NaN,NaN,NaN,NaN,2017-02-05 11:30:48,NaN,NaN,65.0
2,2017-02-05 07:00:00,4462,JessicaB,173.0,182.0,106.0,NaN,81.0,NaN,NaN,NaN,NaN,NaN,2017-02-05 11:35:48,NaN,NaN,9.0
3,2017-02-05 08:00:00,4462,JessicaB,333.0,311.0,102.0,NaN,55.0,NaN,NaN,NaN,NaN,NaN,2017-02-05 11:52:05,NaN,NaN,-22.0
4,2017-02-05 09:00:00,4462,JessicaB,594.0,598.0,155.0,NaN,106.0,NaN,NaN,NaN,NaN,NaN,2017-02-05 11:59:35,NaN,NaN,4.0

## Use `.groupby()` to Group the Data by the Manager

In [3]:
manager_groups = labor_sheet_data.groupby('Manager')
type(manager_groups)

pandas.core.groupby.generic.DataFrameGroupBy

## Explore Our Groupby Object Using the `.groups` Attribute and the `.size()` Method.
The `.groups` attribute will list the name of each group and the row index values that make up each group.

The `.size(`) method will print the size of each group

In [4]:
manager_groups.groups

{'AdrianaR': Int64Index([19795, 19833, 19850, 19851, 19852, 19853, 19854, 19855, 19868,
             19869,
             ...
             21801, 21802, 21820, 21821, 21822, 21823, 21824, 21825, 21858,
             21859],
            dtype='int64', length=234),
 'AllyssaD': Int64Index([1137, 1138, 1221, 1231, 1282, 1421, 1451, 1487, 1488, 1570,
             ...
             4672, 4673, 4674, 4676, 4688, 4689, 4692, 4693, 4694, 4695],
            dtype='int64', length=317),
 'AllyssaN': Int64Index([828, 829, 840, 841, 1073, 1074], dtype='int64'),
 'AmandaB': Int64Index([9191, 9192, 9193, 9194, 9195, 9196, 9197, 9208, 9209, 9210, 9211,
             9212, 9213, 9214, 9215],
            dtype='int64'),
 'AmberF': Int64Index([10326, 10327, 10345, 10405, 10406, 10439, 10440, 10441, 10576], dtype='int64'),
 'AmberK': Int64Index([24910, 24911, 24912, 24913, 24914, 24915, 24916, 24917, 24918,
             24958,
             ...
             25431, 25432, 25456, 25457, 25458, 25459, 25460, 25461, 25462,
             25463],
            dtype='int64', length=102),
 'AnnaB': Int64Index([9280, 9331, 9335, 9353, 9366, 9895, 9902], dtype='int64'),
 'AnnieS': Int64Index([16548, 16549, 16550, 16614, 16615, 16616, 16635, 16636, 16685,
             16686, 16687, 16731, 16732, 16750, 16751, 16770, 16771],
            dtype='int64'),
 'ArielA': Int64Index([13379, 13387, 13388, 13389, 13437, 13438, 13440, 13443, 13444,
             13445,
             ...
             16666, 16682, 16683, 16684, 16688, 16767, 16768, 16769, 16784,
             16785],
            dtype='int64', length=406),
 'BlaineO': Int64Index([13393, 13394, 13395, 13396, 13397, 13428, 13429, 13430, 13431,
             13458, 13505, 13506, 13571, 13584, 13672, 13685, 13746, 13768,
             13769, 13817, 13852],
            dtype='int64'),
 'BrandonC': Int64Index([ 721,  722,  725,  736,  737,  777,  791,  848,  862,  935,  948,
              949, 1010, 1011, 1014, 1015, 1021, 1022, 1067, 1093, 1094, 1119,
             1120, 1127, 1144],
            dtype='int64'),
 'BrandonD': Int64Index([13965, 13966, 13979, 13980, 13992, 13993, 14047, 14064, 14077,
             14078,
             ...
             16659, 16660, 16680, 16697, 16698, 16699, 16700, 16752, 16753,
             16774],
            dtype='int64', length=204),
 'BrittanyB': Int64Index([7458, 7459, 7460, 7461, 7462, 7478, 7479, 7480, 7481, 7482, 7516,
             7517, 7518, 7519, 7520, 7521, 7522, 7523, 7571, 7572, 7573, 7574,
             7584, 7585, 7586, 7587, 7588, 7604, 7605, 7606, 7607, 7608, 7724,
             7725, 7726, 7727, 7728, 7744, 7745, 7746, 7747, 7748],
            dtype='int64'),
 'BrittanyS': Int64Index([9478, 9589], dtype='int64'),
 'BrittneyL': Int64Index([6560, 6561, 6669, 6670, 6671, 6672, 6673, 6747, 6748, 6749,
             ...
             8002, 8003, 8004, 8005, 8006, 8022, 8023, 8024, 8025, 8026],
            dtype='int64', length=174),
 'CaitlinH': Int64Index([ 9285,  9289,  9354,  9357,  9358,  9504,  9525,  9526,  9562,
              9563,  9590,  9596,  9672,  9691,  9723, 10050],
            dtype='int64'),
 'CarmellaR': Int64Index([16872, 16880, 16966, 17050, 17068, 17069, 17115, 17116, 17120,
             17122,
             ...
             20778, 20779, 20780, 20781, 20798, 20799, 20800, 20815, 20816,
             20817],
            dtype='int64', length=508),
 'CarmenB': Int64Index([13962, 13963, 13964, 14244, 14354, 14355, 14373, 14374, 14439,
             14440, 14487, 14573, 14588, 14590, 14591, 14592, 16083, 16084,
             16099, 16100, 16101, 16102, 16168, 16169, 16185, 16186, 16194,
             16195, 16199, 16200, 16270, 16271, 16272, 16286, 16287, 16365,
             16366, 16385, 16404, 16405, 16423, 16424, 16500, 16501, 16520,
             16521, 16539, 16540, 16558, 16559, 16637, 16638, 16657, 16658,
             16676, 16677, 16695, 16696, 16709, 16710, 16711, 16772, 16773],
            dtype='int64'),
 'CarrieS': Int64Index([10279, 10280, 10281, 10359, 10360, 10377, 10378, 10379, 10380,
             10420,
             ...
             13286, 13287, 13288, 13289, 13303, 13304, 13305, 13360, 13361,
             13362],
            dtype='int64', length=383),
 'CeaunnaL': Int64Index([1123, 1124, 1125, 1126, 1132, 1133, 1134, 1135, 1151, 1152, 1153,
             1154, 1155, 1156, 1157, 1158],
            dtype='int64'),
 'CeaunnaS': Int64Index([  796,   797,   798,   799,   809,   810,   811,   940,   941,
               942,
             ...
             16760, 16761, 16762, 16766, 16778, 16779, 16780, 16781, 16782,
             16783],
            dtype='int64', length=691),
 'CharizmaM': Int64Index([13390, 13391, 13392, 13400, 13401, 13404, 13433, 13434, 13446,
             13451, 13452, 13455, 13456, 13465, 13466, 13467, 13468, 13469,
             13470, 13471, 13472, 13473, 13488, 13501, 13502, 13508, 13516,
             13522, 13533, 13534, 13552, 13553, 13554, 13568, 13569, 13599,
             13641, 13642, 13668],
            dtype='int64'),
 'CharlesE': Int64Index([1112, 1113, 1143, 1145, 1146, 1147, 1148, 1149, 1167, 1168,
             ...
             4652, 4665, 4666, 4667, 4671, 4684, 4685, 4686, 4690, 4691],
            dtype='int64', length=584),
 'CharlesS': Int64Index([  32,   33,   34,   35,   36,   37,   42,   43,   49,   63,
             ...
             9396, 9397, 9412, 9413, 9414, 9415, 9495, 9496, 9497, 9498],
            dtype='int64', length=118),
 'ChelseaM': Int64Index([1365, 1366, 1551, 1552, 1666, 1667, 1686, 1687, 1819, 1934, 1951,
             1952, 1954, 2293, 2294, 2384, 2385, 2501, 2502, 2516, 2517, 2617,
             2618, 2637, 2638, 2739, 2740, 2759, 2760, 2874, 2875, 2891, 2892,
             2976, 3026, 3027, 3133, 3134, 3153, 3154, 3251, 3252, 3271, 3272,
             3377, 3378, 3393, 3394, 3435, 3436, 3437, 3525, 3526, 3572, 3573,
             3574, 3587, 3642, 3643, 3662, 3663, 3709, 3710, 3711, 3774, 3775,
             3794, 3795, 3911, 3912, 3931, 3932, 4105, 4106, 4133, 4224, 4225,
             4226, 4227, 4228, 4229, 4230, 4356, 4357, 4380, 4384, 4493, 4508,
             4512, 4621, 4622, 4648, 4662, 4663, 4664],
            dtype='int64'),
 'CheyenneK': Int64Index([5338, 5339, 5340, 5370, 5371, 5372, 5373, 5374, 5375, 5376,
             ...
             8042, 8043, 8044, 8045, 8046, 8062, 8063, 8064, 8065, 8066],
            dtype='int64', length=410),
 'CheyenneN': Int64Index([4728, 4729, 4730, 4731, 4732, 4733, 4735, 4737, 4738, 4739,
             ...
             5303, 5304, 5305, 5316, 5317, 5318, 5319, 5320, 5321, 5322],
            dtype='int64', length=128),
 'ChrisP': Int64Index([21894, 21895, 21896, 21897, 21898, 21899, 21900, 21903, 21904,
             21905, 21906, 21908, 21997, 21998, 21999, 22000, 22001, 22002,
             22003, 22004, 22057, 22058, 22059, 22060, 22061, 22062, 22063,
             22095, 22096, 22097, 22098, 22099, 22100, 22101, 22102, 22194,
             22195, 22196, 22197, 22198, 22199, 22200, 22201, 22236, 22237,
             22238, 22239, 22240, 22241, 22242, 22243, 22244, 22245, 22246,
             22247, 22250, 22251, 22252, 22253, 22269, 22272, 22343, 22344,
             22345, 22346, 22347, 22348, 22369, 22370, 22371, 22372, 22373],
            dtype='int64'),
 'ChristinaS': Int64Index([ 9251,  9256,  9257,  9258,  9259,  9260,  9261,  9262,  9263,
              9264,
             ...
             13104, 13105, 13106, 13156, 13157, 13311, 13312, 13313, 13314,
             17192],
            dtype='int64', length=463),
 'ChristopherP': Int64Index([22417, 22418, 22419, 22420, 22421, 22422, 22477, 22478, 22479,
             22527,
             ...
             25452, 25453, 25454, 25464, 25465, 25466, 25467, 25468, 25469,
             25470],
            dtype='int64', length=685),
 'ClaudiaA': Int64Index([ 9400,  9428,  9435,  9436,  9437,  9439,  9442,  9443,  9444,
              9445,
             ...
             13283, 13297, 13298, 13299, 13300, 13301, 13302, 13319, 13320,
             13321],
            dtype='int64', length=415),
 'ColtJ': Int64Index([5583, 5584, 5585, 5586, 5587, 5653, 5654, 5655, 5656, 5657, 5658,
             5659, 5660, 6009, 6010, 6099, 6100, 6101, 6102, 6103, 6104, 6105,
             6106, 6174, 6175, 6176, 6177, 6178, 6184, 6185, 6186, 6187, 6257,
             6258, 6259, 6260, 6275, 6276, 6277, 6468, 6469, 6470, 6707, 6708,
             6709, 6710, 6711, 6787, 6788, 6789, 6790, 6791, 6792, 6793, 6834,
             6835, 6836, 6837, 6838],
            dtype='int64'),
 'ColterB': Int64Index([4903, 4904, 4905, 5037, 5146, 5147, 5148, 5149, 5150, 5151, 5152,
             5176, 5177, 5178, 5179, 5180, 5280, 5281, 5282, 5283, 5284],
            dtype='int64'),
 'ConnieG': Int64Index([17077], dtype='int64'),
 'DacotaA': Int64Index([16817, 16836, 16943, 16948, 16968, 16982, 16995, 17034, 17044,
             17055,
             ...
             20468, 20469, 20470, 20486, 20487, 20488, 20725, 20726, 20727,
             20728],
            dtype='int64', length=150),
 'DaisyD': Int64Index([ 9282,  9283,  9284,  9314,  9479,  9503,  9506,  9552,  9567,
              9597,  9894,  9938,  9939,  9942, 10016, 10070, 10093, 10146,
             10147, 10178, 10213, 10214, 10215, 10328, 10329, 10330, 10966,
             10982, 10983, 10984, 11084, 11085, 11086, 11087, 11190, 11191,
             11192, 11193, 11310, 11311, 11312, 11418, 11419, 11420, 11509,
             11510, 11575, 11576, 11655, 11656, 11657, 11658, 11659, 11748,
             11749, 11750, 11751, 11853, 11854, 11855, 11856, 12194, 12195,
             12196, 12197, 12198, 12199, 12357, 12375, 12376, 12532, 12533,
             12985, 12986, 12987, 12988, 12989, 12990],
            dtype='int64'),
 'DaleB': Int64Index([10240, 10241, 10242, 10276, 10277, 10278, 10294, 10295, 10374,
             10375,
             ...
             13330, 13331, 13332, 13333, 13354, 13355, 13356, 13357, 13358,
             13359],
            dtype='int64', length=303),
 'DarenP': Int64Index([1222, 1223, 1407, 1408, 1715, 1716, 1719, 1980, 1981, 2069,
             ...
             3910, 3968, 4065, 4066, 4103, 4104, 4202, 4203, 4220, 4534],
            dtype='int64', length=143),
 'DarleneG': Int64Index([8262, 8263, 8264, 8265, 8266, 8267, 8268, 8276, 8277, 8278,
             ...
             9072, 9073, 9074, 9230, 9231, 9232, 9233, 9234, 9235, 9236],
            dtype='int64', length=142),
 'DarleneS': Int64Index([8082, 8101, 8102, 8103, 8104, 8105, 8106, 8107, 8108, 8121, 8122,
             8123, 8124, 8125, 8126, 8127, 8137, 8208, 8209, 8210, 8214, 8215,
             8216, 8217, 8218, 8224, 8227, 8228, 8229, 8230, 8231, 8232, 8233,
             8234, 8235, 8236, 8237, 8238, 8248, 8249, 8250, 8251, 8252, 8253,
             8254, 8255, 8256, 8257, 8258, 8259, 8260, 8261],
            dtype='int64'),
 'DavidH': Int64Index([27, 28, 58, 70, 114, 160, 217], dtype='int64'),
 'DeannaG': Int64Index([1150], dtype='int64'),
 'DeeDeeG': Int64Index([450, 451, 455, 456, 489, 526], dtype='int64'),
 'DevonF': Int64Index([13925, 13926, 13945, 14028, 14135, 14231, 14232, 14300, 14307,
             14308,
             ...
             16640, 16641, 16704, 16705, 16735, 16736, 16737, 16775, 16776,
             16777],
            dtype='int64', length=171),
 'DianeA': Int64Index([21921, 21922, 21923, 21924, 21925, 21926, 21927, 21928, 21929,
             21966,
             ...
             25198, 25214, 25278, 25294, 25311, 25327, 25375, 25391, 25407,
             25423],
            dtype='int64', length=828),
 'DonovanS': Int64Index([4742, 4743, 4744, 4745, 4746, 4747, 4758, 4759, 4760, 4761,
             ...
             6929, 6930, 6948, 6949, 6950, 6951, 7003, 7042, 7043, 7157],
            dtype='int64', length=303),
 'DouglasA': Int64Index([4734, 4736, 5038, 5039], dtype='int64'),
 'EchoR': Int64Index([ 9657,  9681,  9682,  9753,  9754,  9766,  9767,  9848,  9849,
              9850,  9851,  9852,  9861,  9862,  9863,  9865,  9866,  9880,
              9883,  9897,  9906,  9907,  9915,  9941,  9944,  9976,  9977,
             10012, 10013, 10015, 10018, 10021, 10041, 10069, 10072, 10073,
             10074, 10075, 10082, 10083, 10096, 10154, 10155],
            dtype='int64'),
 'EddieS': Int64Index([ 705,  706,  707,  708,  711,  717,  718,  726,  727,  728,  739,
              740,  741,  742,  817,  867,  868,  869,  876,  877,  898,  899,
              900,  901,  902,  947,  970,  971,  972,  973,  995,  996, 1003,
             1024, 1025, 1026, 1027, 1028, 1049, 1050, 1088, 1089, 1090, 1091,
             1092],
            dtype='int64'),
 'EmilyP': Int64Index([16808, 16830, 16949, 16980, 16984, 17082, 17087, 17133, 17136,
             17137,
             ...
             21756, 21848, 21849, 21850, 21860, 21861, 21862, 21886, 21887,
             21888],
            dtype='int64', length=552),
 'EmmyS': Int64Index([7466, 7467, 7468, 7469, 7470, 7471, 7472, 7796, 7797, 7798, 7799,
             7800, 7801, 7802, 8055, 8056, 8057, 8058, 8059, 8060, 8061],
            dtype='int64'),
 'EricaF': Int64Index([  936,   937,   938,   939,  1046,  1047,  1048, 13435, 13436,
             13457,
             ...
             14625, 14626, 14627, 15835, 15836, 15837, 15838, 15839, 15840,
             15841],
            dtype='int64', length=173),
 'Erin': Int64Index([10219, 10247], dtype='int64'),
 'ErinS': Int64Index([ 9268,  9272,  9274,  9304,  9305,  9306,  9307,  9345,  9346,
              9347,
             ...
             13309, 13310, 13328, 13329, 13334, 13335, 13347, 13348, 13366,
             13367],
            dtype='int64', length=458),
 'FrankJ': Int64Index([8084, 8085, 8086, 8087, 8088, 8113, 8114, 8115, 8116, 8117, 8118,
             8119, 8120, 8132, 8133, 8134, 8135, 8136, 8145, 8146, 8147, 8148,
             8149, 8168, 8169, 8170, 8172, 8173, 8198, 8199, 8390, 8398, 8399,
             8400, 8401, 8402, 8403, 8404, 8405, 8448, 8449, 8450, 8451, 8466,
             8467, 8468, 8469, 8507, 8508, 8509, 8510, 8511, 8519, 8520, 8521,
             8522, 8523, 8524, 8525, 8552, 8553, 8554, 8555, 8569, 8570, 8571,
             8572, 8573, 8574, 8575, 8576, 8666, 8667, 8668, 8669, 8670, 8671,
             8672, 8685, 8686, 8687, 8688, 8689, 8690, 8691, 8971, 8972],
            dtype='int64'),
 'GeraldH': Int64Index([8159, 8160, 8161, 8162, 8163, 8174, 8175, 8176, 8177, 8178, 8179,
             8180, 8181, 8187, 8188, 8189, 8190, 8191, 8192, 8193, 8194, 8325,
             8370],
            dtype='int64'),
 'GregD': Int64Index([  106,   169,   234,   235,   918,   919,   920,   921,   950,
               951,
             ...
              3827,  3828,  4195,  4196,  4405,  4533,  4668,  4669,  4670,
             13704],
            dtype='int64', length=127),
 'HaileyB': Int64Index([21993, 21994, 22066, 22073, 22075, 22083, 22084, 22086, 22111,
             22122,
             ...
             24180, 24212, 24228, 24277, 24293, 24309, 24325, 24341, 24405,
             24437],
            dtype='int64', length=115),
 'HaileyD': Int64Index([9198, 9199, 9200, 9216, 9217, 9218, 9219, 9220, 9221, 9222, 9237,
             9238, 9239, 9240, 9241, 9242],
            dtype='int64'),
 'HeatherS': Int64Index([25080, 25081, 25082, 25083, 25084, 25085, 25192, 25193, 25194,
             25195, 25196, 25197, 25287, 25288, 25289, 25290, 25291, 25292,
             25293, 25310],
            dtype='int64'),
 'HeatherW': Int64Index([ 9252,  9340,  9677,  9770,  9771,  9816,  9817,  9867,  9868,
              9884,
             ...
             13324, 13325, 13326, 13327, 13341, 13342, 13343, 13344, 13345,
             13346],
            dtype='int64', length=587),
 'HomeroG': Int64Index([4799, 4800, 4801, 4803], dtype='int64'),
 'HomeroJ': Int64Index([8284, 8285, 8286, 8287, 8328, 8329, 8330, 8344, 8345, 8346, 8347,
             8348, 8349, 8358, 8359, 8360, 8361, 8362, 8373, 8374, 8385, 8386,
             8387, 8388, 8389, 8430, 8431, 8432, 8433, 8434, 8462, 8476, 8477,
             8478, 8479, 8480, 8481, 8494, 8495, 8496, 8497, 8498, 8499, 8540,
             8541, 8542, 8543, 8544, 8585, 8586, 8587, 8588, 8589, 8590, 8605,
             8606, 8607, 8608, 8609, 8610, 8611, 8654, 8655, 8656, 8657, 8658,
             8708, 8709, 8710, 8711, 8712, 8713, 8721, 8722, 8723, 8724, 8732,
             8733, 8734, 8735],
            dtype='int64'),
 'JadenM': Int64Index([10401, 10402, 10403, 10466, 11595, 11596, 11737, 11738, 11739,
             11809,
             ...
             13264, 13336, 13337, 13338, 13339, 13340, 13369, 13370, 13371,
             13372],
            dtype='int64', length=171),
 'JakeM': Int64Index([3484, 3503, 3504, 3542, 3543, 3581, 3600, 3601, 3620, 3621, 3639,
             3640, 3641, 3660, 3661, 3679, 3680, 3718, 3735, 3736, 3737, 3756,
             3811, 3812, 3850, 3890, 3907, 3908, 3928, 3929, 3930, 3948, 3949,
             3987, 4005, 4006, 4025, 4026, 4045, 4046, 4085, 4123, 4142, 4143,
             4163, 4182, 4183, 4221, 4259, 4278, 4279, 4298, 4299, 4318, 4319,
             4373, 4374, 4393, 4394, 4412, 4413, 4414, 4430, 4431, 4433, 4434,
             4464, 4465, 4501, 4502, 4521, 4522, 4539, 4540, 4541, 4542, 4561,
             4562, 4601, 4637, 4638, 4657, 4658, 4675, 4677, 4696, 4697],
            dtype='int64'),
 'JammieT': Int64Index([ 9269,  9315,  9549,  9581,  9703,  9896,  9940,  9949,  9987,
             10097,
             ...
             11834, 11851, 11965, 11966, 11967, 11968, 11969, 12031, 12032,
             12033],
            dtype='int64', length=284),
 'JaymiC': Int64Index([17373, 17374, 17409, 17500, 17501, 17502, 17503, 17509, 17536,
             17538, 17606, 17607, 17608, 17610],
            dtype='int64'),
 'JennaJ': Int64Index([   13,    14,    22,    23,    29,    30,    38,    39,    40,
                71,
             ...
             13645, 13653, 13658, 13659, 13662, 13663, 13664, 13671, 13675,
             13713],
            dtype='int64', length=472),
 'JessicaA': Int64Index([1129, 1130, 1131, 1139, 1140, 1141, 1142, 1174, 1175, 1176,
             ...
             4683, 4687, 4700, 4701, 4702, 4703, 4704, 4705, 4706, 4707],
            dtype='int64', length=733),
 'JessicaB': Int64Index([    2,     3,     4,     5,     6,     7,     8,    16,    17,
                18,
             ...
             17100, 17101, 17102, 17103, 17104, 17105, 17106, 17107, 17108,
             17112],
            dtype='int64', length=630),
 'JessicaH': Int64Index([8756, 8757, 8882, 8883, 8924, 8925, 8926, 8927], dtype='int64'),
 'JessicaM': Int64Index([ 8350,  8351,  8352,  8363,  8364,  8365,  8366,  8367,  8368,
              8369,
             ...
             13296, 13349, 13350, 13351, 13352, 13353, 13363, 13364, 13365,
             13368],
            dtype='int64', length=562),
 'JesusB': Int64Index([16792, 16820, 16835, 17223, 17224, 17239, 17240, 17241, 17242,
             17243,
             ...
             21812, 21813, 21814, 21829, 21851, 21852, 21853, 21874, 21875,
             21876],
            dtype='int64', length=477),
 'JillianA': Int64Index([   0,    9,   10,   11,   12,   45,   46,   47,   48,   50,
             ...
             9461, 9462, 9463, 9472, 9473, 9474, 9475, 9500, 9501, 9502],
            dtype='int64', length=183),
 'JordanC': Int64Index([1114, 1115, 1116, 1117, 1118], dtype='int64'),
 'JordanW': Int64Index([  856,   857,   858,   859,   860,   861,  1060,  1061,  1062,
             13374,
             ...
             16708, 16725, 16726, 16727, 16739, 16740, 16741, 16763, 16764,
             16765],
            dtype='int64', length=673),
 'JoseM': Int64Index([ 9253,  9316,  9317,  9334,  9349,  9351,  9362,  9363,  9364,
              9378,
             ...
             10187, 10188, 10189, 10190, 10207, 10208, 10209, 10210, 10211,
             10212],
            dtype='int64', length=108),
 'JoshD': Int64Index([ 9250,  9266,  9267,  9270,  9271,  9301,  9303,  9308,  9325,
              9328,
             ...

In [5]:
manager_groups.size()

Manager
AdrianaR     234
AllyssaD     317
AllyssaN       6
AmandaB       15
AmberF         9
            ...
TracyB        40
TrishG         9
VeronicaC     80
ZoeyD         11
ZoilaO       687
Length: 124, dtype: int64

## Getting Groups Using the `.get_group()` Method
We can get a specific group by using the `.get_group` method. We just need to pass the name of the group which will be one of the values that we grouped by. See the example below

In [6]:
# To get the CeaunnaS group we do the following:
manager_data = manager_groups.get_group("CeaunnaS")
manager_data.head(3)

,Date_Ending_Hour,Store_ID,Manager,Projected_Sales,Sales,DT_TTL,Car_Count,KVS_Total,Scheduled_People,Actual_People,Reason_for_Labor_Diff,Reason_for_High_TTLs,Manager_Entering_Data,Timestamp,OEPE,Park_Percentage,Sales +/-
796,2017-11-15 11:00:00,4462,CeaunnaS,695.0,598.0,172.0,NaN,84.0,NaN,NaN,NaN,NaN,NaN,2017-11-15 11:00:02,NaN,NaN,-97.0
797,2017-11-15 12:00:00,4462,CeaunnaS,887.0,777.0,278.0,NaN,1068.0,NaN,NaN,NaN,NaN,NaN,2017-11-15 11:00:02,NaN,NaN,-110.0
798,2017-11-15 13:00:00,4462,CeaunnaS,1054.0,1174.0,267.0,NaN,102.0,NaN,NaN,NaN,NaN,NaN,2017-11-15 11:00:02,NaN,NaN,120.0

## In Class Exercise
Create a new goupby object (something other than grouping by manager). Explore it using the methods above.

In [7]:
store_groups = labor_sheet_data.groupby('Store_ID')

In [8]:
store_groups.get_group(4462)

,Date_Ending_Hour,Store_ID,Manager,Projected_Sales,Sales,DT_TTL,Car_Count,KVS_Total,Scheduled_People,Actual_People,Reason_for_Labor_Diff,Reason_for_High_TTLs,Manager_Entering_Data,Timestamp,OEPE,Park_Percentage,Sales +/-
0,2017-01-23 08:00:00,4462,JillianA,540.0,420.0,170.0,NaN,100.0,NaN,NaN,NaN,NaN,NaN,2017-01-23 09:52:14,NaN,NaN,-120.0
1,2017-02-05 06:00:00,4462,ZoeyD,90.0,155.0,114.0,NaN,78.0,NaN,NaN,NaN,NaN,NaN,2017-02-05 11:30:48,NaN,NaN,65.0
2,2017-02-05 07:00:00,4462,JessicaB,173.0,182.0,106.0,NaN,81.0,NaN,NaN,NaN,NaN,NaN,2017-02-05 11:35:48,NaN,NaN,9.0
3,2017-02-05 08:00:00,4462,JessicaB,333.0,311.0,102.0,NaN,55.0,NaN,NaN,NaN,NaN,NaN,2017-02-05 11:52:05,NaN,NaN,-22.0
4,2017-02-05 09:00:00,4462,JessicaB,594.0,598.0,155.0,NaN,106.0,NaN,NaN,NaN,NaN,NaN,2017-02-05 11:59:35,NaN,NaN,4.0
5,2017-02-05 10:00:00,4462,JessicaB,554.0,534.0,170.0,NaN,107.0,NaN,NaN,NaN,NaN,NaN,2017-02-05 12:04:04,NaN,NaN,-20.0
6,2017-02-05 11:00:00,4462,JessicaB,594.0,827.0,257.0,NaN,150.0,NaN,NaN,NaN,NaN,NaN,2017-02-05 12:12:48,NaN,NaN,233.0
7,2017-02-05 13:00:00,4462,JessicaB,649.0,740.0,201.0,NaN,117.0,NaN,NaN,NaN,NaN,NaN,2017-02-05 15:16:20,NaN,NaN,91.0
8,2017-02-05 14:00:00,4462,JessicaB,552.0,474.0,220.0,NaN,167.0,NaN,NaN,NaN,NaN,NaN,2017-02-05 15:17:56,NaN,NaN,-78.0
9,2017-02-05 18:00:00,4462,JillianA,474.0,322.0,177.0,NaN,108.0,NaN,NaN,NaN,NaN,NaN,2017-02-05 18:15:06,NaN,NaN,-152.0
10,2017-02-05 19:00:00,4462,JillianA,420.0,382.0,224.0,NaN,129.0,NaN,NaN,NaN,NaN,NaN,2017-02-05 19:19:42,NaN,NaN,-38.0
11,2017-02-05 20:00:00,4462,JillianA,371.0,305.0,220.0,NaN,152.0,NaN,NaN,NaN,NaN,NaN,2017-02-05 21:14:54,NaN,NaN,-66.0
12,2017-02-05 21:00:00,4462,JillianA,204.0,335.0,207.0,NaN,99.0,NaN,NaN,NaN,NaN,NaN,2017-02-05 21:16:31,NaN,NaN,131.0
13,2017-02-05 22:00:00,4462,JennaJ,167.0,177.0,132.0,NaN,99.0,NaN,NaN,NaN,NaN,NaN,2017-02-05 23:04:05,NaN,NaN,10.0
14,2017-02-05 23:00:00,4462,JennaJ,91.0,139.0,108.0,NaN,91.0,NaN,NaN,NaN,NaN,NaN,2017-02-05 23:10:29,NaN,NaN,48.0
15,2017-02-06 06:00:00,4462,ZoeyD,181.0,146.0,71.0,NaN,49.0,NaN,NaN,NaN,NaN,NaN,2017-02-06 05:28:34,NaN,NaN,-35.0
16,2017-02-06 07:00:00,4462,JessicaB,315.0,317.0,86.0,NaN,42.0,NaN,NaN,NaN,NaN,NaN,2017-02-06 07:27:22,NaN,NaN,2.0
17,2017-02-06 08:00:00,4462,JessicaB,413.0,428.0,95.0,NaN,59.0,NaN,NaN,NaN,NaN,NaN,2017-02-06 08:11:15,NaN,NaN,15.0
18,2017-02-06 09:00:00,4462,JessicaB,481.0,502.0,116.0,NaN,43.0,NaN,NaN,NaN,NaN,NaN,2017-02-06 09:32:57,NaN,NaN,21.0
19,2017-02-06 12:00:00,4462,JessicaB,806.0,555.0,172.0,NaN,99.0,NaN,NaN,NaN,NaN,NaN,2017-02-06 12:28:22,NaN,NaN,-251.0
20,2017-02-06 13:00:00,4462,JessicaB,916.0,874.0,169.0,NaN,96.0,NaN,NaN,NaN,NaN,NaN,2017-02-06 14:45:19,NaN,NaN,-42.0
21,2017-02-06 14:00:00,4462,JessicaB,856.0,566.0,154.0,NaN,80.0,NaN,NaN,NaN,NaN,NaN,2017-02-06 14:51:41,NaN,NaN,-290.0
22,2017-02-06 16:00:00,4462,JennaJ,563.0,468.0,198.0,NaN,116.0,NaN,NaN,NaN,NaN,NaN,2017-02-06 16:02:31,NaN,NaN,-95.0
23,2017-02-06 17:00:00,4462,JennaJ,478.0,688.0,241.0,NaN,130.0,NaN,NaN,NaN,NaN,NaN,2017-02-06 17:08:18,NaN,NaN,210.0
24,2017-02-06 18:00:00,4462,SarahU,646.0,481.0,147.0,NaN,60.0,NaN,NaN,NaN,NaN,NaN,2017-02-06 17:00:31,NaN,NaN,-165.0
25,2017-02-07 15:00:00,4462,JessicaB,513.0,479.0,169.0,NaN,89.0,NaN,NaN,NaN,NaN,NaN,2017-02-07 15:30:12,NaN,NaN,-34.0
26,2017-02-07 18:00:00,4462,JessicaB,608.0,604.0,154.0,NaN,80.0,NaN,NaN,NaN,NaN,NaN,2017-02-07 18:28:15,NaN,NaN,-4.0
27,2017-02-07 20:00:00,4462,DavidH,364.0,372.0,185.0,NaN,111.0,NaN,NaN,NaN,NaN,NaN,2017-02-07 18:56:17,NaN,NaN,8.0
28,2017-02-07 22:00:10,4462,DavidH,238.0,301.0,232.0,NaN,197.0,NaN,NaN,NaN,NaN,NaN,2017-02-07 22:00:10,NaN,NaN,63.0
29,2017-02-07 23:00:00,4462,JennaJ,201.0,161.0,169.0,NaN,172.0,NaN,NaN,NaN,NaN,NaN,2017-02-07 23:09:22,NaN,NaN,-40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4688,2018-07-27 16:00:00,4462,AllyssaD,671.0,675.0,405.0,62.0,189.0,14.50,15.00,NaN,NaN,Allyssa D Newman,2018-07-27 16:38:23,NaN,NaN,4.0
4689,2018-07-27 17:00:00,4462,AllyssaD,684.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-27 04:21:43,NaN,NaN,NaN
4690,2018-07-27 18:00:00,4462,CharlesE,784.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-27 04:22:02,NaN,NaN,NaN
4691,2018-07-27 19:00:00,4462,CharlesE,871.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-27 04:22:21,NaN,NaN,NaN
4692,2018-07-27 20:00:00,4462,AllyssaD,759.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-27 04:22:45,NaN,NaN,NaN
4693,2018-07-27 21:00:00,4462,AllyssaD,599.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-27 04:23:03,NaN,NaN,NaN
4694,2018-07-27 22:00:00,4462,AllyssaD,468.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-27 04:23:51,NaN,NaN,NaN
4695,2018-07-27 23:00:00,4462,AllyssaD,406.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-27 04:24:12,NaN,NaN,NaN
4696,2018-07-28 00:00:00,4462,JakeM,237.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-27 04:24:42,NaN,NaN,NaN
4697,2018-07-28 01:00:00,4462,JakeM,95.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-27 04:25:04,NaN,NaN,NaN
4698,2018-07-28 06:00:00,4462,MariahR,198.0,283.0,231.0,NaN,173.0,5.00,4.00,NaN,NaN,NaN,2018-07-28 06:09:27,NaN,NaN,85.0
4699,2018-07-28 07:00:00,4462,MariahR,364.0,434.0,179.0,43.0,90.0,9.00,9.00,NaN,NaN,NaN,2018-07-28 09:56:17,NaN,NaN,70.0
4700,2018-07-28 08:00:00,4462,JessicaA,656.0,652.0,164.0,55.0,72.0,13.50,12.50,NaN,NaN,NaN,2018-07-28 09:56:57,NaN,NaN,-4.0
4701,2018-07-28 09:00:00,4462,JessicaA,879.0,841.0,180.0,66.0,80.0,18.75,15.50,NaN,NaN,NaN,2018-07-28 09:57:49,NaN,NaN,-38.0
4702,2018-07-28 10:00:00,4462,JessicaA,961.0,1153.0,298.0,84.0,109.0,18.75,16.50,NaN,NaN,NaN,2018-07-28 11:07:52,NaN,NaN,192.0
4703,2018-07-28 11:00:00,4462,JessicaA,929.0,938.0,307.0,85.0,214.0,19.50,17.75,NaN,NaN,NaN,2018-07-28 11:09:13,NaN,NaN,9.0
4704,2018-07-28 12:00:00,4462,JessicaA,1158.0,1161.0,310.0,81.0,137.0,19.50,16.25,NaN,NaN,NaN,2018-07-28 14:58:34,NaN,NaN,3.0
4705,2018-07-28 13:00:00,4462,JessicaA,1143.0,1108.0,326.0,75.0,174.0,19.75,16.75,NaN,NaN,NaN,2018-07-28 15:01:18,NaN,NaN,-35.0
4706,2018-07-28 14:00:00,4462,JessicaA,1008.0,1111.0,381.0,73.0,169.0,15.00,14.50,NaN,NaN,NaN,2018-07-28 15:02:52,NaN,NaN,103.0
4707,2018-07-28 15:00:00,4462,JessicaA,805.0,655.0,346.0,61.0,118.0,15.00,15.00,NaN,NaN,NaN,2018-07-28 15:05:08,NaN,NaN,-150.0
4708,2018-07-28 16:00:00,4462,JennaJ,656.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-28 06:51:00,NaN,NaN,NaN
4709,2018-07-28 17:00:00,4462,JennaJ,611.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-28 06:51:22,NaN,NaN,NaN
4710,2018-07-28 18:00:00,4462,JennaJ,596.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-28 06:51:42,NaN,NaN,NaN
4711,2018-07-28 19:00:00,4462,JennaJ,496.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-28 06:56:57,NaN,NaN,NaN
4712,2018-07-28 20:00:00,4462,JennaJ,496.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-28 06:53:06,NaN,NaN,NaN
4713,2018-07-28 21:00:00,4462,JennaJ,453.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-28 06:53:21,NaN,NaN,NaN
4714,2018-07-28 22:00:00,4462,JennaJ,445.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-28 06:53:39,NaN,NaN,NaN
4715,2018-07-28 23:00:00,4462,JennaJ,446.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-28 06:56:02,NaN,NaN,NaN
4716,2018-07-29 00:00:00,4462,JennaJ,288.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-28 06:56:17,NaN,NaN,NaN
4717,2018-07-29 01:00:00,4462,JennaJ,233.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-28 06:56:35,NaN,NaN,NaN

<a name="simplegroupstats"></a>
# Calculating Simple Statistics on Groups

## Use the `.describe()` Method on the Groupby Object to Find the Mean, Min, and Max Sales for Each Manager

Note that operating on a groupby will return a DataFrame or Series depending on what the operation is.

In [9]:
manager_groups["Sales +/-"].describe()

           count       mean         std     min     25%    50%     75%     max
Manager
AdrianaR   232.0   4.172414   69.929374 -263.00  -32.00   4.00   44.50  200.00
AllyssaD   205.0  -2.650439  105.216380 -352.00  -78.00   0.00   63.00  306.00
AllyssaN     6.0  51.666667   90.134714  -93.00   16.00  52.00  125.50  145.00
AmandaB     15.0 -37.835333  145.714829 -251.83 -161.03 -29.20   67.20  241.70
AmberF       9.0 -52.372222   78.078726 -187.02  -91.89 -59.44   -8.01   77.54
...          ...        ...         ...     ...     ...    ...     ...     ...
TracyB      40.0 -14.600000   95.123617 -243.00  -66.75 -22.00   39.50  167.00
TrishG       9.0 -95.000000  136.732403 -369.00 -132.00 -46.00   12.00   32.00
VeronicaC   79.0 -29.949367   90.043707 -267.00  -94.00 -32.00   16.50  224.00
ZoeyD       11.0  26.447273  100.937885  -69.00  -44.00 -17.00   78.50  205.00
ZoilaO     673.0  -0.150074   54.688673 -153.00  -32.00  -6.00   25.00  271.00

[124 rows x 8 columns]

# Calculating Multiple Statistics On One Or Multiple Columns
We can use the `.agg()` (short for aggregate) method on a group by object to calculate multiple statistics. Let's use the monthGroups object we have already created.

Docs are here: <https://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.DataFrameGroupBy.agg.html>

### Other strings that pandas will recognize as functions are here:
<http://pandas.pydata.org/pandas-docs/stable/basics.html>

In [10]:
manager_groups["Sales +/-"].agg(['min', 'mean', 'max', 'std', 'count'])

              min       mean     max         std  count
Manager
AdrianaR  -263.00   4.172414  200.00   69.929374    232
AllyssaD  -352.00  -2.650439  306.00  105.216380    205
AllyssaN   -93.00  51.666667  145.00   90.134714      6
AmandaB   -251.83 -37.835333  241.70  145.714829     15
AmberF    -187.02 -52.372222   77.54   78.078726      9
...           ...        ...     ...         ...    ...
TracyB    -243.00 -14.600000  167.00   95.123617     40
TrishG    -369.00 -95.000000   32.00  136.732403      9
VeronicaC -267.00 -29.949367  224.00   90.043707     79
ZoeyD      -69.00  26.447273  205.00  100.937885     11
ZoilaO    -153.00  -0.150074  271.00   54.688673    673

[124 rows x 5 columns]

## Using `.agg()` to Compute Different Statistics on Different Dolumns:

In [11]:
manager_groups.agg({'Sales +/-': 'mean', 'KVS_Total': 'mean'})

           Sales +/-   KVS_Total
Manager
AdrianaR    4.172414   69.290043
AllyssaD   -2.650439  155.975610
AllyssaN   51.666667  110.333333
AmandaB   -37.835333  122.466667
AmberF    -52.372222   41.111111
...              ...         ...
TracyB    -14.600000  108.850000
TrishG    -95.000000   65.555556
VeronicaC -29.949367  146.150685
ZoeyD      26.447273   86.090909
ZoilaO     -0.150074  130.998529

[124 rows x 2 columns]

### We can chain on renaming the columns, which is often helpful

In [12]:
manager_groups.agg({'Sales +/-': 'mean', 'KVS_Total': 'mean'}). \
    rename(columns={'Sales +/-': 'Sales +/- Mean', 'KVS_Total': 'KVS Total Mean'})

           Sales +/- Mean  KVS Total Mean
Manager
AdrianaR         4.172414       69.290043
AllyssaD        -2.650439      155.975610
AllyssaN        51.666667      110.333333
AmandaB        -37.835333      122.466667
AmberF         -52.372222       41.111111
...                   ...             ...
TracyB         -14.600000      108.850000
TrishG         -95.000000       65.555556
VeronicaC      -29.949367      146.150685
ZoeyD           26.447273       86.090909
ZoilaO          -0.150074      130.998529

[124 rows x 2 columns]

## Introducing the `.sort_values()` Method
We can use the `.sort_values()` method to sort a dataframe by any column. By default, the rows will sort from lowest to highest values.  You can reverse the sort order by setting the `reverse` argument to `True`.

Let's add it to the code we wrote above to find the manager with the fastest KVS Total Mean Time

In [13]:
manager_groups.agg({'Sales +/-': 'mean', 'KVS_Total': 'mean'}). \
    rename(columns={'Sales +/-': 'Sales +/- Mean', 'KVS_Total': 'KVS Total Mean'}). \
    sort_values("KVS Total Mean").head(10)

           Sales +/- Mean  KVS Total Mean
Manager
BrittanyS       -8.805000       30.000000
AmberF         -52.372222       41.111111
DeannaG        -49.660000       47.000000
CarrieS          7.131455       59.464191
SarahS          -2.141509       61.273585
KatieB          59.307241       63.586207
SabrinaD         0.658307       64.090909
JaymiC          17.571429       64.285714
TrishG         -95.000000       65.555556
HeatherW        15.476171       68.164103

## In Class Exercise:

### Find the manager with the fastest "DT_TTL" mean. Also, find the count because we want to know the sample size of the data used to compute the mean

Hint: Use the `.agg()` method with the "mean" and "count" functions. Also use `.sort_values()`.

Who has the fastest time? What is the sample size?

In [20]:
results = manager_groups["DT_TTL"].agg(["mean", "count"]).sort_values("mean")

In [22]:
results.loc[results['count']>100]

                    mean  count
Manager
CarrieS       118.323607    377
AdrianaR      134.103448    232
SarahS        138.924528    106
SabrinaD      146.426332    319
JoseM         167.222222    108
ZoilaO        176.286765    680
OraM          176.616438    146
ErinS         180.159193    446
HeatherW      183.136752    585
MonicaH       190.040580    345
BrandonD      191.550505    198
MichelleM     193.109467    676
HaileyB       193.165217    115
ChristinaS    199.121475    461
EricaF        200.161850    173
ArielA        201.875346    361
JessicaM      205.018083    553
DacotaA       209.405405    148
RachelH       209.812500    224
StephanieA    210.756410    234
CharlesS      212.923729    118
JessicaB      216.342857    630
JordanW       219.774290    669
ChristopherP  221.644018    677
CheyenneK     228.524548    387
KristinB      230.101124    356
TomW          231.912173    649
DianeA        232.752781    809
JillianA      234.120219    183
DevonF        235.774834    151
EmilyP        237.934783    552
JadenM        238.155689    167
CheyenneN     245.054688    128
AmberK        245.264706    102
JessicaA      251.257184    696
KyllieA       254.420561    321
MckaylaR      257.807890    583
ShannonL      259.415929    339
CarmellaR     262.772455    501
TabbyW        263.340190    632
OliviaP       266.920319    502
JesusB        268.450317    473
JoshD         269.044025    159
ClaudiaA      279.042079    404
CeaunnaS      282.190407    688
CharlesE      287.789579    499
JammieT       297.890071    282
TommyA        298.089087    449
DaleB         302.259136    301
BrittneyL     308.635802    162
SamanthaF     311.995833    480
JennaJ        319.569892    186
AllyssaD      319.629268    205
SarahU        325.563025    357
DonovanS      331.885965    228
DarleneG      333.635714    140
ShawnI        406.860182    329
KaylaW        431.506912    217
LindaK        526.678019    323

### Repeat the exercise, but select only the results for managers that have a count > 100

## In Class Exercise: Which Hour Has The Fastest Mean DT TTLs?

You will want to perform the following steps:
1. Create a groupby object that is grouped by the hour from the 'Date_Ending_Hour' column.
2. Calculate the DT TTL Mean for each hour.

##### Store your results as the variable `hour_groups_DTTTLs`. We will use it below.

In [24]:
hour_groups = labor_sheet_data.groupby(labor_sheet_data['Date_Ending_Hour'].dt.hour)
hour_group_DTTTLs = hour_groups['DT_TTL'].mean()

In [25]:
hour_group_DTTTLs

Date_Ending_Hour
0     316.835000
1     409.070000
6     154.181818
7     172.544503
8     178.417966
9     185.852417
10    189.435441
11    237.410291
12    262.656143
13    274.387986
14    262.752792
15    253.947813
16    258.230586
17    257.055875
18    278.801802
19    302.534783
20    314.374885
21    306.457740
22    311.989744
23    314.911137
Name: DT_TTL, dtype: float64

## Recalculate The Manager DT TTL Rankings Using This Information
We see that different hours have different mean DT TTLs.  This is because some hours are simply easier (breakfast items are faster to prepare than dinner items).  So, what if we rank managers by their deviation from the mean DT TTL for the hours they worked?

To do this we need to subtract the mean DT TTL for each of the recorded DT TTL values.
There are multiple ways to do this - we will show one way below.

### Introducing the `.to_dict()` method to extract values from a DataFrame to a dictionary
Dictionaries are fast data structures that are liberally used in python.

In [26]:
mean_hour_DTTTLs = hour_group_DTTTLs.to_dict()
print(mean_hour_DTTTLs)
print(mean_hour_DTTTLs[18])

{0: 316.835, 1: 409.07, 6: 154.1818181818182, 7: 172.54450261780104, 8: 178.41796631316282, 9: 185.85241730279898, 10: 189.43544137022397, 11: 237.4102911306703, 12: 262.65614275909405, 13: 274.3879858657244, 14: 262.752792256143, 15: 253.94781273983116, 16: 258.23058637083994, 17: 257.0558751027116, 18: 278.8018018018018, 19: 302.53478260869565, 20: 314.37488542621446, 21: 306.45773979107315, 22: 311.98974358974357, 23: 314.9111374407583}
278.8018018018018

### Now loop through the dictionary and then subtract the mean from the appropriate rows in the DataFrame:

In [27]:
for hour in mean_hour_DTTTLs:
    labor_sheet_data.loc[labor_sheet_data['Date_Ending_Hour'].dt.hour == hour, 'DT TTL Delta'] = \
    labor_sheet_data.loc[labor_sheet_data['Date_Ending_Hour'].dt.hour == hour, 'DT_TTL'] - mean_hour_DTTTLs[hour]

In [28]:
labor_sheet_data.head(2)

,Date_Ending_Hour,Store_ID,Manager,Projected_Sales,Sales,DT_TTL,Car_Count,KVS_Total,Scheduled_People,Actual_People,Reason_for_Labor_Diff,Reason_for_High_TTLs,Manager_Entering_Data,Timestamp,OEPE,Park_Percentage,Sales +/-,DT TTL Delta
0,2017-01-23 08:00:00,4462,JillianA,540.0,420.0,170.0,NaN,100.0,NaN,NaN,NaN,NaN,NaN,2017-01-23 09:52:14,NaN,NaN,-120.0,-8.417966
1,2017-02-05 06:00:00,4462,ZoeyD,90.0,155.0,114.0,NaN,78.0,NaN,NaN,NaN,NaN,NaN,2017-02-05 11:30:48,NaN,NaN,65.0,-40.181818

### Finally, recalculate which manager has the fastest DT TTL delta mean

* Only include managers with a sample size >= 100
Since we did not update anything in the managers column, we do not need to create a new groupby object!

In [29]:
manager_results = manager_groups['DT TTL Delta'].agg(['mean', 'count'])
manager_results.loc[manager_results['count'] > 100, :]

                    mean  count
Manager
AdrianaR      -51.500385    232
AllyssaD       65.307813    205
AmberK          2.988145    102
ArielA        -30.190680    361
BrandonD       24.948919    198
BrittneyL      89.871384    162
CarmellaR      -1.593295    501
CarrieS       -57.209746    377
CeaunnaS       25.588700    688
CharlesE       23.659999    499
CharlesS      -49.489015    118
CheyenneK      49.615967    387
CheyenneN      47.452923    128
ChristinaS    -51.454491    461
ChristopherP  -45.328088    677
ClaudiaA      -20.237751    404
DacotaA       -53.471224    148
DaleB          -0.769529    301
DarleneG      136.394995    140
DevonF          0.370259    151
DianeA        -38.649963    809
DonovanS       66.269067    228
EmilyP          3.796567    552
EricaF         -2.533510    173
ErinS         -55.049708    446
HaileyB       -53.557090    115
HeatherW      -24.960703    585
JadenM        -39.498157    167
JammieT        15.019189    282
JennaJ         36.134517    186
JessicaA       34.640007    696
JessicaB       -8.648382    630
JessicaM      -34.863879    553
JesusB        -23.214102    473
JillianA      -15.978400    183
JordanW       -36.945520    669
JoseM         -74.785620    108
JoshD         -16.022315    159
KaylaW        116.628474    217
KristinB      -42.839235    356
KyllieA        -2.629371    321
LindaK        200.680517    323
MckaylaR        2.895478    583
MichelleM     -24.179215    676
MonicaH        20.550932    345
OliviaP       -35.991779    502
OraM           -1.584499    146
RachelH       -37.548876    224
SabrinaD      -24.529807    319
SamanthaF      57.717579    480
SarahS        -30.825336    106
SarahU         37.022755    357
ShannonL       44.884272    339
ShawnI        101.447514    329
StephanieA     23.056369    234
TabbyW        -39.339562    632
TomW          -14.418918    649
TommyA         91.263712    449
ZoilaO        -58.457654    680

### In Class Exercise: Which Store Has The Best Sales +/- Overall?

* You will need to group the data by the store and then calculate the mean 'Sales +/-' value.

In [30]:
store_groups["Sales +/-"].mean()

Store_ID
4462     -1.620632
4587     13.476581
10523     9.693339
11794     1.170596
11969    90.073795
18065    -5.860500
31225     0.174561
Name: Sales +/-, dtype: float64

<a name="customfunctions"></a>
# Using The `.apply()` Method For Custom Analysis
The apply method allows us to apply a custom function to each group.

## Finding The Percentage Of Hours At Each Store With Positive "Sales +/-"
We can use the apply method to help us find the percentage of hours, for each store, with a positive `Sales +/-` value.

In [31]:
def prct_positive_sales_diff(x):
    '''
    x will be a series of sales +/- values, we just need to find the
    percentage > 0
    '''
    result = (x > 0).mean()
    return result

In [32]:
store_groups = labor_sheet_data.groupby('Store_ID')
store_groups['Sales +/-'].apply(prct_positive_sales_diff)

Store_ID
4462     0.396142
4587     0.388823
10523    0.545377
11794    0.481931
11969    0.461831
18065    0.468640
31225    0.457367
Name: Sales +/-, dtype: float64

## Quick Review of Lambda Functions
A lambda function is a function that we define _in line_ that does not have a name. (In other programming languages these are sometimes called anonymous functions). For example,
instead of using the `prct_positive_sales_diff` function above we could just pass a lambda function to the apply method:

In [33]:
results = store_groups['Sales +/-'].apply(lambda x: (x > 0).mean()) * 100
results

Store_ID
4462     39.614243
4587     38.882283
10523    54.537671
11794    48.193063
11969    46.183094
18065    46.863975
31225    45.736651
Name: Sales +/-, dtype: float64

## In Class Exercise
Create a cell below and explore the store_groups or manager_groups groupby object with a function that you define (you can define a function or use a lambda function)

## Question or Comments About This Notebook?
Feel free to contact me via my LinkedIn: https://www.linkedin.com/in/william-j-henry <br>
You can also email me at will@henryanalytics.com <br>

# In Class Exercise Solution

### This is for the exercise about finding the hour with the fastest DTTTLs

In [ ]:
# hour_groups = labor_sheet_data.groupby(labor_sheet_data['Date_Ending_Hour'].dt.hour)
# hour_group_DTTTLs = hour_groups['DT_TTL'].mean()